<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9bd3d94-959b-4a1a-9d20-bb6816b27154" Alias="Aaron.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:51:38</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m0ab4s2a/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>