<?xml version="1.0" encoding="utf-8"?>
<Media Key="85374a98-6486-443d-9f49-3fef75bf98d1" Alias="AsideAboutImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AsideAboutImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T16:56:49</CreateDate>
    <NodeName Default="AsideAboutImage.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nl1jkz23/asideaboutimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>