<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fca38fc-88a9-4e7e-b2ce-35b193a92882" Alias="Assurance.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T21:29:17</CreateDate>
    <NodeName Default="Assurance.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0chrtns/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>