<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec98f588-63fe-48ef-a922-81f8d8a8894a" Alias="BrandonK.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:52:45</CreateDate>
    <NodeName Default="BrandonK.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjedudxf/brandonk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>