<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8c0388f-d2e6-4b2c-968c-be25e83ae707" Alias="Brandon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:50:32</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pwcheox3/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>