<?xml version="1.0" encoding="utf-8"?>
<Media Key="56f77525-ada2-4127-9ec3-acb747aa8e04" Alias="Carter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:51:08</CreateDate>
    <NodeName Default="Carter.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/05eflnfz/carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>