<?xml version="1.0" encoding="utf-8"?>
<Media Key="18588603-d19a-4999-9d4f-25a694a78638" Alias="Commodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Commoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T21:26:49</CreateDate>
    <NodeName Default="Commodities.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4e3pv4ub/commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>