<?xml version="1.0" encoding="utf-8"?>
<Media Key="51854275-1731-47a1-bc23-a9351573b753" Alias="ContactInfoBackgroundPattern.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoBackgroundPatternsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:21:06</CreateDate>
    <NodeName Default="ContactInfoBackgroundPattern.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q55dpmzk/contactinfobackgroundpattern.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>