<?xml version="1.0" encoding="utf-8"?>
<Media Key="734e0fbc-5bb9-4ef0-9b28-4db2d87b3491" Alias="ContactMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:49:00</CreateDate>
    <NodeName Default="ContactMap.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j0zozenc/contactmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>