<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca12b751-240b-4dbf-a138-9766bc6fc12d" Alias="ContactInfoSubjectImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoSubjectImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:19:12</CreateDate>
    <NodeName Default="ContactInfoSubjectImage.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umflakaq/contactinfosubjectimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>