<?xml version="1.0" encoding="utf-8"?>
<Media Key="6871c36b-ba85-4a05-b16e-6d4ee56f05b5" Alias="ContactInfoBackgroundImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoBackgroundImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:20:52</CreateDate>
    <NodeName Default="ContactInfoBackgroundImage.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tf5nhcu4/contactinfobackgroundimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>