<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5a2ff17-2bf6-4b01-892d-2e157aa67eee" Alias="fd3026ff552493b837cea54502d5c736ae250be5.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fd3026ff552493b837cea54502d5c736ae250be5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-26T21:23:24</CreateDate>
    <NodeName Default="fd3026ff552493b837cea54502d5c736ae250be5.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ta0pia25/fd3026ff552493b837cea54502d5c736ae250be5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>