<?xml version="1.0" encoding="utf-8"?>
<Media Key="edc39a43-79e2-4230-905f-6d5df9eddd02" Alias="FinancialAdvisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T21:31:57</CreateDate>
    <NodeName Default="FinancialAdvisor.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wethcd5z/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>