<?xml version="1.0" encoding="utf-8"?>
<Media Key="feefbef5-2a6a-49ad-8f23-c06cfcf1f889" Alias="FossilGroup.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FossilGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:06:27</CreateDate>
    <NodeName Default="FossilGroup.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2bf0hdr/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>