<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a8a0388-02c1-452f-91be-bf8a2e5fea7b" Alias="Freedombird.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T18:59:52</CreateDate>
    <NodeName Default="Freedombird.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pk5crwg0/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>