<?xml version="1.0" encoding="utf-8"?>
<Media Key="3827ce95-b862-4922-8e11-2d19df3c4a1d" Alias="Globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:06:17</CreateDate>
    <NodeName Default="Globe.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3zjlwtz/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>