<?xml version="1.0" encoding="utf-8"?>
<Media Key="91f9e87c-c774-4126-a191-1059e03747ec" Alias="IconEmail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:25:58</CreateDate>
    <NodeName Default="IconEmail.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzkfw21p/iconemail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>