<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae29cd0e-ad26-4113-9894-a02d9900d07b" Alias="IconAddress.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:24:29</CreateDate>
    <NodeName Default="IconAddress.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ryiwtb3/iconaddress.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>