<?xml version="1.0" encoding="utf-8"?>
<Media Key="955ad599-1379-4c91-a99f-d8f5c9339e8e" Alias="IconPhone.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:24:59</CreateDate>
    <NodeName Default="IconPhone.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nnupq31c/iconphone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>