<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdaf908c-3a46-4c0d-a1ab-d284d225c758" Alias="Identity.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:00:07</CreateDate>
    <NodeName Default="Identity.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pywb0x03/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>