<?xml version="1.0" encoding="utf-8"?>
<Media Key="befdc8e2-2426-4b1e-83d8-312f800a6918" Alias="Kevin.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:53:26</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cb0f4xb3/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>