<?xml version="1.0" encoding="utf-8"?>
<Media Key="3227ac46-4720-4fc8-9c5d-21f1f2708e18" Alias="MailOutline.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MailOutlinesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T19:37:24</CreateDate>
    <NodeName Default="MailOutline.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqijlub1/mailoutline.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>