<?xml version="1.0" encoding="utf-8"?>
<Media Key="db8ce3c2-0e6c-4948-af2a-86ae45731976" Alias="Miranda.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:53:07</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbpc2olx/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>