<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8e85f7c-8504-4598-b98b-2f79422ce257" Alias="Natural.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:05:07</CreateDate>
    <NodeName Default="Natural.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1reugq5/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>