<?xml version="1.0" encoding="utf-8"?>
<Media Key="18ed9cc0-cd24-468e-bacb-4962c70c90d3" Alias="OnlineSignatures.net-302 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T18:26:34</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/giqf54r5/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>