<?xml version="1.0" encoding="utf-8"?>
<Media Key="03875053-352c-448e-aa4e-9b25135f1680" Alias="RiskManagement.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T20:18:38</CreateDate>
    <NodeName Default="RiskManagement.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uhwdlyjx/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>