<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3bb5a06-d6ef-4209-a24f-89ba4dc05cae" Alias="ServiceDetailImage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetailImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T14:32:05</CreateDate>
    <NodeName Default="ServiceDetailImage2.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ttbsqpu/servicedetailimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>