<?xml version="1.0" encoding="utf-8"?>
<Media Key="40e86169-8e87-4d14-b6bf-7629c60955e1" Alias="Simpleaf.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:05:26</CreateDate>
    <NodeName Default="Simpleaf.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tpoeviu2/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>