<?xml version="1.0" encoding="utf-8"?>
<Media Key="04ad3347-52bd-47f2-9ef0-520a78e42512" Alias="StatisticAdvisors.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T21:32:48</CreateDate>
    <NodeName Default="StatisticAdvisors.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wwha5zvg/statisticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>