<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a57e7f1-03f3-4da7-955e-906697af46a1" Alias="SuccessStoryBg.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryBgsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T20:09:40</CreateDate>
    <NodeName Default="SuccessStoryBg.svg (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/annpk4hi/successstorybg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>