<?xml version="1.0" encoding="utf-8"?>
<Media Key="4220773f-d44f-469e-8f1c-6df8844e7554" Alias="SuccessStoryImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T18:58:42</CreateDate>
    <NodeName Default="SuccessStoryImage.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxfificu/successstoryimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>