<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbdd8eb2-46be-4ee8-9257-b378f702c084" Alias="Tax.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T21:30:50</CreateDate>
    <NodeName Default="Tax.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iazh4wnf/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>