<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f576bb-1730-4202-9d60-73dc0f0fddd5" Alias="TestimonialsImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestimonialsImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T22:18:24</CreateDate>
    <NodeName Default="TestimonialsImage.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jhffpvzl/testimonialsimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>