<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac7dda43-56b8-4289-ba16-19bbf4e0eb11" Alias="Tina.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T21:52:28</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wftn4tvd/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>