<?xml version="1.0" encoding="utf-8"?>
<Media Key="71b53672-90af-4bd7-b976-f11854a49321" Alias="TinaHeader.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaHeadersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T22:07:48</CreateDate>
    <NodeName Default="TinaHeader.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qcfbpe3u/tinaheader.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>