<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa526281-d608-487c-aea3-5e7b56c82f74" Alias="WhyUsPrimary.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhyUsPrimarysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T22:50:09</CreateDate>
    <NodeName Default="WhyUsPrimary.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/opppagat/whyusprimary.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>