<?xml version="1.0" encoding="utf-8"?>
<Media Key="c24ecef1-308b-436c-8a16-5909cb10da3d" Alias="WhyUsMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhyUsMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T22:50:53</CreateDate>
    <NodeName Default="WhyUsMap.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/anzpyieq/whyusmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>