<?xml version="1.0" encoding="utf-8"?>
<Content Key="30458b0c-287e-47e0-9d5f-64271ab520b2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a253efe6-afed-4085-98c4-327187ed92f3">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T21:34:39</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4f1f376f-e3a1-421d-943e-455c672cc34f">ContactPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e",
      "key": "7723d0c4-6029-4036-aa5d-6bf18835f7ed",
      "udi": null,
      "values": [
        {
          "alias": "bannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0496254d-b3c5-4308-af66-c1c77cd4c901",
              "mediaKey": "de4a294c-4342-4684-97af-666eafa7bf33",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "key": "0c3bdcab-bbb3-4fd5-96a3-a1f108679fa1",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoSubjectImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e22bc217-df71-44ae-adec-00b43da7f60b",
              "mediaKey": "ca12b751-240b-4dbf-a138-9766bc6fc12d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fb77e547-3daa-43af-a11c-480f429b6ecf",
              "mediaKey": "6871c36b-ba85-4a05-b16e-6d4ee56f05b5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBackgroundPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9c13d0c0-8a83-4750-b45d-aad4aa18f940",
              "mediaKey": "51854275-1731-47a1-bc23-a9351573b753",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoElements",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "4e6513e1-fbaf-4991-87d4-0f0cd8eba596",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e3e54537-0f8d-4bf3-aa7a-1d0e10c1e877",
                        "mediaKey": "ae29cd0e-ad26-4113-9894-a02d9900d07b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  }
                ]
              },
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "154bed0c-3279-4ed3-97cb-13009a6d7326",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8f702ce3-1214-447b-a932-b88252aff2ee",
                        "mediaKey": "955ad599-1379-4c91-a99f-d8f5c9339e8e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  }
                ]
              },
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "f217cc90-9202-4b0c-8906-56d3224d38ec",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "32f2d683-a4f9-4189-a19f-3847e8a8efef",
                        "mediaKey": "91f9e87c-c774-4126-a191-1059e03747ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4e6513e1-fbaf-4991-87d4-0f0cd8eba596",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "154bed0c-3279-4ed3-97cb-13009a6d7326",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f217cc90-9202-4b0c-8906-56d3224d38ec",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4e6513e1-fbaf-4991-87d4-0f0cd8eba596",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "154bed0c-3279-4ed3-97cb-13009a6d7326",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f217cc90-9202-4b0c-8906-56d3224d38ec",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "4677765b-eb4a-4dc2-85d6-5989d9175a09",
      "key": "1f3f000a-ec73-4eb6-b093-feb9cd06b0fa",
      "udi": null,
      "values": [
        {
          "alias": "brandLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "f5173e92-c676-4c3e-9f20-1028e3820b87",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e1489408-9f51-425b-85cb-1aead2389304",
                        "mediaKey": "3a8a0388-02c1-452f-91be-bf8a2e5fea7b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "c27402c3-4b96-410e-8089-3d06970ff63b",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a96e8801-ac7e-4335-aabd-dde9fb019467",
                        "mediaKey": "bdaf908c-3a46-4c0d-a1ab-d284d225c758",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "483c73a9-9099-43b3-9f8e-7d4474ba3f59",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "69814753-1dc4-4f5a-bf8c-f003fb4db80f",
                        "mediaKey": "f8e85f7c-8504-4598-b98b-2f79422ce257",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "8ab22404-bb8d-4471-93f4-775c956e0c38",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3995e792-ff93-4ac1-95f8-3392d8ad7ddd",
                        "mediaKey": "40e86169-8e87-4d14-b6bf-7629c60955e1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "84a24835-b1cc-4cf0-a630-5f244fe26916",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6a52a6d2-7ca0-4d3e-b230-0c240669e182",
                        "mediaKey": "3827ce95-b862-4922-8e11-2d19df3c4a1d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "c4ed2b87-d72a-4d46-9e7e-aff123193350",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "66210610-22a6-4bdd-bd0f-f697b27965cf",
                        "mediaKey": "feefbef5-2a6a-49ad-8f23-c06cfcf1f889",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f5173e92-c676-4c3e-9f20-1028e3820b87",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c27402c3-4b96-410e-8089-3d06970ff63b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "483c73a9-9099-43b3-9f8e-7d4474ba3f59",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8ab22404-bb8d-4471-93f4-775c956e0c38",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "84a24835-b1cc-4cf0-a630-5f244fe26916",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c4ed2b87-d72a-4d46-9e7e-aff123193350",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f5173e92-c676-4c3e-9f20-1028e3820b87",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c27402c3-4b96-410e-8089-3d06970ff63b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "483c73a9-9099-43b3-9f8e-7d4474ba3f59",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8ab22404-bb8d-4471-93f4-775c956e0c38",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "84a24835-b1cc-4cf0-a630-5f244fe26916",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c4ed2b87-d72a-4d46-9e7e-aff123193350",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "contactMapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "58590802-ae96-41d9-9042-14992a19587f",
              "mediaKey": "734e0fbc-5bb9-4ef0-9b28-4db2d87b3491",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactMapEyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactMapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactMapLead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactMapSubmitText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44",
      "key": "481f266d-0f5a-452c-a617-8bd0391e7944",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7723d0c4-6029-4036-aa5d-6bf18835f7ed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0c3bdcab-bbb3-4fd5-96a3-a1f108679fa1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f3f000a-ec73-4eb6-b093-feb9cd06b0fa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7723d0c4-6029-4036-aa5d-6bf18835f7ed",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0c3bdcab-bbb3-4fd5-96a3-a1f108679fa1",
        "contentUdi": null,
        "settingsKey": "481f266d-0f5a-452c-a617-8bd0391e7944",
        "settingsUdi": null
      },
      {
        "contentKey": "1f3f000a-ec73-4eb6-b093-feb9cd06b0fa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>