<?xml version="1.0" encoding="utf-8"?>
<Content Key="a253efe6-afed-4085-98c4-327187ed92f3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-26T21:24:05</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a345078f-344a-4825-b65a-e254c94c4abd">homePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e79bca7-cd1c-46bf-aa15-65756b0936a4",
      "key": "8394a948-f779-460b-940d-7133198f08d5",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/30458b0c287e47e09d5f64271ab520b2",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c168e6cd-9095-424e-a7d3-b1accbf48d19",
              "mediaKey": "b5a2ff17-2bf6-4b01-892d-2e157aa67eee",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "5f908306-599e-4130-96a0-767e03b01b7e",
      "key": "b833a061-98ec-44cb-bb98-ddb1ec02a28b",
      "udi": null,
      "values": [
        {
          "alias": "aboutEyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "aboutSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "10e614a4-a82a-4a92-a042-e2389651450c",
              "mediaKey": "18ed9cc0-cd24-468e-bacb-4962c70c90d3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutAuthor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "50274471-2ac8-4f71-9d86-61ffee859672",
      "key": "df54a397-e20c-4361-ba26-d55ce5bc870d",
      "udi": null,
      "values": [
        {
          "alias": "whyUsEyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "whyUsLead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "whyUsPrimaryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f60a9be6-7730-414d-973c-4c42394b6701",
              "mediaKey": "fa526281-d608-487c-aea3-5e7b56c82f74",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "whyUsBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "055e381e-ae34-49b7-9b3b-e7416eed00ab",
              "mediaKey": "c24ecef1-308b-436c-8a16-5909cb10da3d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "whyUsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/a253efe6afed408598c4327187ed92f3",
              "url": null,
              "queryString": "#success-stories"
            }
          ]
        },
        {
          "alias": "clientsNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        }
      ]
    },
    {
      "contentTypeKey": "a7ef37db-0383-4295-997a-022ac9dd50c7",
      "key": "deac34fb-935c-40fb-8841-8ba2e58896d3",
      "udi": null,
      "values": [
        {
          "alias": "brandLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "49fedca8-a83a-4fab-a0ab-776dd82e47e7",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e1489408-9f51-425b-85cb-1aead2389304",
                        "mediaKey": "3a8a0388-02c1-452f-91be-bf8a2e5fea7b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "96e82494-343a-462d-ac59-fcf43b5e5f77",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a96e8801-ac7e-4335-aabd-dde9fb019467",
                        "mediaKey": "bdaf908c-3a46-4c0d-a1ab-d284d225c758",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "aa30bb4b-03de-4250-84ec-0b46f13bf596",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "69814753-1dc4-4f5a-bf8c-f003fb4db80f",
                        "mediaKey": "f8e85f7c-8504-4598-b98b-2f79422ce257",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "9d6f40ae-ae38-4297-9f6f-928741fd0ceb",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3995e792-ff93-4ac1-95f8-3392d8ad7ddd",
                        "mediaKey": "40e86169-8e87-4d14-b6bf-7629c60955e1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "84814d8c-60f9-43ae-bd6c-1999782ecdc2",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6a52a6d2-7ca0-4d3e-b230-0c240669e182",
                        "mediaKey": "3827ce95-b862-4922-8e11-2d19df3c4a1d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6",
                "key": "5e0a1b13-4f85-400f-97b2-66c41b9b1e05",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "66210610-22a6-4bdd-bd0f-f697b27965cf",
                        "mediaKey": "feefbef5-2a6a-49ad-8f23-c06cfcf1f889",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "49fedca8-a83a-4fab-a0ab-776dd82e47e7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "96e82494-343a-462d-ac59-fcf43b5e5f77",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "aa30bb4b-03de-4250-84ec-0b46f13bf596",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9d6f40ae-ae38-4297-9f6f-928741fd0ceb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "84814d8c-60f9-43ae-bd6c-1999782ecdc2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5e0a1b13-4f85-400f-97b2-66c41b9b1e05",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "49fedca8-a83a-4fab-a0ab-776dd82e47e7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "96e82494-343a-462d-ac59-fcf43b5e5f77",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "aa30bb4b-03de-4250-84ec-0b46f13bf596",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9d6f40ae-ae38-4297-9f6f-928741fd0ceb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "84814d8c-60f9-43ae-bd6c-1999782ecdc2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5e0a1b13-4f85-400f-97b2-66c41b9b1e05",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successStoriesEyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successStoriesTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "statItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cd3e097b-f926-4b52-8354-593d62b8faa6",
                "key": "257d48e2-29bf-409d-8243-56f5fc7dffe0",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "statText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "cd3e097b-f926-4b52-8354-593d62b8faa6",
                "key": "eb604255-4406-493a-8677-9223849192a2",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "statText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "cd3e097b-f926-4b52-8354-593d62b8faa6",
                "key": "62a72de5-05c5-41c8-b397-c19812da90a9",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "statText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "257d48e2-29bf-409d-8243-56f5fc7dffe0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "eb604255-4406-493a-8677-9223849192a2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "62a72de5-05c5-41c8-b397-c19812da90a9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "257d48e2-29bf-409d-8243-56f5fc7dffe0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "eb604255-4406-493a-8677-9223849192a2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "62a72de5-05c5-41c8-b397-c19812da90a9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successStoryBackground",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "912a89fc-c73a-4a31-82ec-c2c76aa05d05",
              "mediaKey": "9a57e7f1-03f3-4da7-955e-906697af46a1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4fcfdc61-f713-4c3a-9f31-b9879b8ceee6",
              "mediaKey": "4220773f-d44f-469e-8f1c-6df8844e7554",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "32b244f0-8bd7-48a1-9200-5c5b3e196fe0",
      "key": "205479b0-ec40-4459-ac31-486262b6dca2",
      "udi": null,
      "values": [
        {
          "alias": "serviceCardList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "14b798ae-4dd8-4043-8728-032bc5e5a137",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71b45f66-d9b3-431a-a1a8-15007c00a6e4",
                        "mediaKey": "03875053-352c-448e-aa4e-9b25135f1680",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Risk Management",
                        "target": null,
                        "udi": "umb://document/b16e96264c96469598b072b7c01ba80a",
                        "url": null,
                        "queryString": ""
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "b3624dbf-910d-4d31-b8ef-287446f6c48e",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f8cc312c-6143-46c8-9f62-e2bb353ce061",
                        "mediaKey": "18588603-d19a-4999-9d4f-25a694a78638",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Bonds \u0026 Commodities",
                        "target": null,
                        "udi": "umb://document/b458f8ed3de54aee893c58e4482bacfe",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "4291dd1d-0b34-4e84-9d35-40ccac94c732",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "822176a4-90de-4f95-9ee1-71d8e841a8b6",
                        "mediaKey": "2fca38fc-88a9-4e7e-b2ce-35b193a92882",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Assurance \u0026 Audits",
                        "target": null,
                        "udi": "umb://document/4e20d118b23d4a9391ddc34e2ec6da3d",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "556fa057-f864-45b0-bbf5-a673ea6ae3d2",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "af2691a7-16af-4280-891c-05bed166a406",
                        "mediaKey": "bbdd8eb2-46be-4ee8-9257-b378f702c084",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Tax and Trusts",
                        "target": null,
                        "udi": "umb://document/81321a23add4477ca9e3c029ac4f9bf9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "ead43320-c4d0-4765-ad98-8fb18de06fa5",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b0981f83-02d7-4515-ada4-a543abd5d3cf",
                        "mediaKey": "edc39a43-79e2-4230-905f-6d5df9eddd02",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Financial Advisor",
                        "target": null,
                        "udi": "umb://document/d4984294f02b45b3804361492a0d511b",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "6280027f-7336-463a-984f-55afca62a4d8",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ac822e32-9a10-4cb5-b0f3-e14174f62d3c",
                        "mediaKey": "04ad3347-52bd-47f2-9ef0-520a78e42512",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Statistic Advisors",
                        "target": null,
                        "udi": "umb://document/a170b704181a421688a765be5c0d83fe",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "14b798ae-4dd8-4043-8728-032bc5e5a137",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b3624dbf-910d-4d31-b8ef-287446f6c48e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4291dd1d-0b34-4e84-9d35-40ccac94c732",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "556fa057-f864-45b0-bbf5-a673ea6ae3d2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ead43320-c4d0-4765-ad98-8fb18de06fa5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6280027f-7336-463a-984f-55afca62a4d8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "14b798ae-4dd8-4043-8728-032bc5e5a137",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b3624dbf-910d-4d31-b8ef-287446f6c48e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4291dd1d-0b34-4e84-9d35-40ccac94c732",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "556fa057-f864-45b0-bbf5-a673ea6ae3d2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ead43320-c4d0-4765-ad98-8fb18de06fa5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6280027f-7336-463a-984f-55afca62a4d8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c093fe94-7672-4001-8765-43a747609d89",
      "key": "6dca2515-80e7-432b-8e2a-fbe269533736",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8394a948-f779-460b-940d-7133198f08d5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b833a061-98ec-44cb-bb98-ddb1ec02a28b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df54a397-e20c-4361-ba26-d55ce5bc870d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "deac34fb-935c-40fb-8841-8ba2e58896d3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "205479b0-ec40-4459-ac31-486262b6dca2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8394a948-f779-460b-940d-7133198f08d5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b833a061-98ec-44cb-bb98-ddb1ec02a28b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "205479b0-ec40-4459-ac31-486262b6dca2",
        "contentUdi": null,
        "settingsKey": "6dca2515-80e7-432b-8e2a-fbe269533736",
        "settingsUdi": null
      },
      {
        "contentKey": "df54a397-e20c-4361-ba26-d55ce5bc870d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "deac34fb-935c-40fb-8841-8ba2e58896d3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>