<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb5ea643-e81d-4389-9055-b034ba84c5c6" Alias="Services" Level="2">
  <Info>
    <Parent Key="a253efe6-afed-4085-98c4-327187ed92f3">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-04T14:35:48</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3955714-a777-44cb-8036-df1ec140bfb0">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "32b244f0-8bd7-48a1-9200-5c5b3e196fe0",
      "key": "4b9c2f12-0540-4e7f-a0fd-802cf4c6794b",
      "udi": null,
      "values": [
        {
          "alias": "serviceCardList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "44adb562-6ae7-4af1-8932-b437bb399157",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71b45f66-d9b3-431a-a1a8-15007c00a6e4",
                        "mediaKey": "03875053-352c-448e-aa4e-9b25135f1680",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Risk Management",
                        "target": null,
                        "udi": "umb://document/b16e96264c96469598b072b7c01ba80a",
                        "url": null,
                        "queryString": ""
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "bd1c954c-9a6e-4c47-b3e7-2d36c6e8c977",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f8cc312c-6143-46c8-9f62-e2bb353ce061",
                        "mediaKey": "18588603-d19a-4999-9d4f-25a694a78638",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Bonds \u0026 Commodities",
                        "target": null,
                        "udi": "umb://document/b458f8ed3de54aee893c58e4482bacfe",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "054d06a2-4353-413d-98c3-f0e072115cb3",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "822176a4-90de-4f95-9ee1-71d8e841a8b6",
                        "mediaKey": "2fca38fc-88a9-4e7e-b2ce-35b193a92882",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Assurance \u0026 Audits",
                        "target": null,
                        "udi": "umb://document/4e20d118b23d4a9391ddc34e2ec6da3d",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "9e5c1b85-2905-4f35-9c7d-325acc1bc50d",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "af2691a7-16af-4280-891c-05bed166a406",
                        "mediaKey": "bbdd8eb2-46be-4ee8-9257-b378f702c084",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Tax and Trusts",
                        "target": null,
                        "udi": "umb://document/81321a23add4477ca9e3c029ac4f9bf9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "80ec7828-2ffa-4bfd-b932-b4f235447ecb",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b0981f83-02d7-4515-ada4-a543abd5d3cf",
                        "mediaKey": "edc39a43-79e2-4230-905f-6d5df9eddd02",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Financial Advisor",
                        "target": null,
                        "udi": "umb://document/d4984294f02b45b3804361492a0d511b",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af",
                "key": "8e4ac8ad-c077-4310-9638-b764b04bfe9a",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ac822e32-9a10-4cb5-b0f3-e14174f62d3c",
                        "mediaKey": "04ad3347-52bd-47f2-9ef0-520a78e42512",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Statistic Advisors",
                        "target": null,
                        "udi": "umb://document/a170b704181a421688a765be5c0d83fe",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "44adb562-6ae7-4af1-8932-b437bb399157",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bd1c954c-9a6e-4c47-b3e7-2d36c6e8c977",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "054d06a2-4353-413d-98c3-f0e072115cb3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9e5c1b85-2905-4f35-9c7d-325acc1bc50d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "80ec7828-2ffa-4bfd-b932-b4f235447ecb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8e4ac8ad-c077-4310-9638-b764b04bfe9a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "44adb562-6ae7-4af1-8932-b437bb399157",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bd1c954c-9a6e-4c47-b3e7-2d36c6e8c977",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "054d06a2-4353-413d-98c3-f0e072115cb3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9e5c1b85-2905-4f35-9c7d-325acc1bc50d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "80ec7828-2ffa-4bfd-b932-b4f235447ecb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8e4ac8ad-c077-4310-9638-b764b04bfe9a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e",
      "key": "1d0301c8-4ebd-41bf-9fb6-cf669f2c4c89",
      "udi": null,
      "values": [
        {
          "alias": "bannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4c272129-3cb8-4125-83e4-919a8cf1cfba",
              "mediaKey": "de4a294c-4342-4684-97af-666eafa7bf33",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "key": "ebafb506-bcd7-44ce-a1c2-9c45659c1c11",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoSubjectImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e22bc217-df71-44ae-adec-00b43da7f60b",
              "mediaKey": "ca12b751-240b-4dbf-a138-9766bc6fc12d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fb77e547-3daa-43af-a11c-480f429b6ecf",
              "mediaKey": "6871c36b-ba85-4a05-b16e-6d4ee56f05b5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBackgroundPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9c13d0c0-8a83-4750-b45d-aad4aa18f940",
              "mediaKey": "51854275-1731-47a1-bc23-a9351573b753",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoElements",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "8942f3dc-a75f-4b74-9a24-a92655f3cf69",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e3e54537-0f8d-4bf3-aa7a-1d0e10c1e877",
                        "mediaKey": "ae29cd0e-ad26-4113-9894-a02d9900d07b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  }
                ]
              },
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "f427b45b-aca0-4a37-9412-62f4f29f78a1",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8f702ce3-1214-447b-a932-b88252aff2ee",
                        "mediaKey": "955ad599-1379-4c91-a99f-d8f5c9339e8e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  }
                ]
              },
              {
                "contentTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90",
                "key": "2ff7313f-41b0-4cbd-8238-8afcf333d617",
                "udi": null,
                "values": [
                  {
                    "alias": "contactInfoItemIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "32f2d683-a4f9-4189-a19f-3847e8a8efef",
                        "mediaKey": "91f9e87c-c774-4126-a191-1059e03747ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contactInfoItemLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactInfoItemValue",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8942f3dc-a75f-4b74-9a24-a92655f3cf69",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f427b45b-aca0-4a37-9412-62f4f29f78a1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2ff7313f-41b0-4cbd-8238-8afcf333d617",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8942f3dc-a75f-4b74-9a24-a92655f3cf69",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f427b45b-aca0-4a37-9412-62f4f29f78a1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2ff7313f-41b0-4cbd-8238-8afcf333d617",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c093fe94-7672-4001-8765-43a747609d89",
      "key": "4d17d889-693f-4440-be1c-90f5ec81b32c",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44",
      "key": "a9b5aef6-e500-4688-bb6a-47ed32d2e091",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4b9c2f12-0540-4e7f-a0fd-802cf4c6794b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1d0301c8-4ebd-41bf-9fb6-cf669f2c4c89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ebafb506-bcd7-44ce-a1c2-9c45659c1c11",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1d0301c8-4ebd-41bf-9fb6-cf669f2c4c89",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4b9c2f12-0540-4e7f-a0fd-802cf4c6794b",
        "contentUdi": null,
        "settingsKey": "4d17d889-693f-4440-be1c-90f5ec81b32c",
        "settingsUdi": null
      },
      {
        "contentKey": "ebafb506-bcd7-44ce-a1c2-9c45659c1c11",
        "contentUdi": null,
        "settingsKey": "a9b5aef6-e500-4688-bb6a-47ed32d2e091",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>