<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95f16791-06d0-4cf6-becd-6611eb2621ba" Alias="Brand Logos" Level="1">
  <Info>
    <Name>Brand Logos</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>