<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17dcc579-bac9-4479-ba15-d1d3e3dbbb41" Alias="Brand Logos (1)" Level="1">
  <Info>
    <Name>Brand Logos (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ff15b291-5a82-47c7-840c-a0827a0c2fe6"
    }
  ]
}]]></Config>
</DataType>