<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef5649fa-2241-4f5c-8476-f89701dcd45e" Alias="Contact Info - Contact Info Elements" Level="1">
  <Info>
    <Name>Contact Info - Contact Info Elements</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c76087ae-67a5-490b-b941-d2e7a0dc0f90"
    }
  ]
}]]></Config>
</DataType>