<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe4bd15e-5a1e-4dcd-a6c6-61e2d8dfa9ef" Alias="Contact Page - Sections" Level="1">
  <Info>
    <Name>Contact Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e"
    },
    {
      "contentElementTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "settingsElementTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44"
    },
    {
      "contentElementTypeKey": "4677765b-eb4a-4dc2-85d6-5989d9175a09"
    }
  ]
}]]></Config>
</DataType>