<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7859131-2314-49a7-ac74-f2e72ada794b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e79bca7-cd1c-46bf-aa15-65756b0936a4"
    },
    {
      "contentElementTypeKey": "32b244f0-8bd7-48a1-9200-5c5b3e196fe0",
      "settingsElementTypeKey": "c093fe94-7672-4001-8765-43a747609d89"
    },
    {
      "contentElementTypeKey": "5f908306-599e-4130-96a0-767e03b01b7e"
    },
    {
      "contentElementTypeKey": "50274471-2ac8-4f71-9d86-61ffee859672"
    },
    {
      "contentElementTypeKey": "a7ef37db-0383-4295-997a-022ac9dd50c7"
    }
  ]
}]]></Config>
</DataType>