<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6beff93-f177-4067-916b-6b47cd636f0c" Alias="Service Detail Item (copy) - Contact - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Item (copy) - Contact - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "settingsElementTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44"
    }
  ]
}]]></Config>
</DataType>