<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7054d4c3-502a-4b63-bd5a-ab1c1bef8bc8" Alias="Service Details Page - Sections" Level="1">
  <Info>
    <Name>Service Details Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e"
    },
    {
      "contentElementTypeKey": "ccfc36e8-2f21-4510-a26a-7848afe20562"
    }
  ]
}]]></Config>
</DataType>