<?xml version="1.0" encoding="utf-8"?>
<DataType Key="443d1c8c-6b5d-42f9-8d8e-34fca10111d1" Alias="Service Details - Sections" Level="1">
  <Info>
    <Name>Service Details - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "92628aa0-0c5e-435a-91f8-5681ce35af2b"
    },
    {
      "contentElementTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e"
    },
    {
      "contentElementTypeKey": "5a9378ca-7613-47ca-8252-a2d21fa0a67f"
    },
    {
      "contentElementTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "settingsElementTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44"
    }
  ]
}]]></Config>
</DataType>