<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5cafce0-9c36-489b-b87a-a5ecadaae050" Alias="Service Detail Item (copy) - Aside - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Item (copy) - Aside - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5a9378ca-7613-47ca-8252-a2d21fa0a67f"
    }
  ]
}]]></Config>
</DataType>