<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8acab7f-b26a-47c3-a93b-df864f673272" Alias="Service Card List" Level="1">
  <Info>
    <Name>Service Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0fcf4fd1-8d91-4b78-91eb-6a588af856af"
    }
  ]
}]]></Config>
</DataType>