<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f27b0a4a-f042-43bf-a839-01c4afbb9949" Alias="Service Details Items" Level="1">
  <Info>
    <Name>Service Details Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "92628aa0-0c5e-435a-91f8-5681ce35af2b"
    }
  ]
}]]></Config>
</DataType>