<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c63dd64-40b0-4506-92a8-54ba8419b192" Alias="Service Page - Sections" Level="1">
  <Info>
    <Name>Service Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "32b244f0-8bd7-48a1-9200-5c5b3e196fe0",
      "settingsElementTypeKey": "c093fe94-7672-4001-8765-43a747609d89"
    },
    {
      "contentElementTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e"
    },
    {
      "contentElementTypeKey": "fbf85f73-62c9-47f6-af4d-cc8b45a50642",
      "settingsElementTypeKey": "2ff810c6-950f-4ace-abc5-f47e860a2f44"
    }
  ]
}]]></Config>
</DataType>