<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa3e6f50-a95d-4546-ab37-b6a88c6e3ed6" Alias="Service Detail Item (copy) - Banner - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Item (copy) - Banner - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58ec7ec6-fcde-4203-a62d-21c17d62017e"
    }
  ]
}]]></Config>
</DataType>