<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48c8a150-a2a1-4490-8417-1700dcb5152b" Alias="Service Link (1)" Level="1">
  <Info>
    <Name>Service Link (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "92628aa0-0c5e-435a-91f8-5681ce35af2b",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>