<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61fe7ec5-499e-49dd-b4ad-0185779d6980" Alias="Success Stories" Level="1">
  <Info>
    <Name>Success Stories</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cd3e097b-f926-4b52-8354-593d62b8faa6"
    }
  ]
}]]></Config>
</DataType>