<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0e80a18-142c-4b2e-8efe-554c9adb206a" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4185d2b0-a4ad-4f7d-93dc-bf95de1436ce",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>