<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c49c665b-c994-4aae-b2c8-26e1ee17b17e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a345078f-344a-4825-b65a-e254c94c4abd">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4dd20e7-2080-4d0f-bce6-a70737fcc280" SortOrder="0">contactPage</ContentType>
    <ContentType Key="231125e8-e919-49d2-92df-a2e14cb9b6dc" SortOrder="1">servicePage</ContentType>
    <ContentType Key="bdc91704-14a4-48b2-88fb-ccb9f1242125" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d594d751-a706-4416-bdb4-f02b49b3551f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>e7859131-2314-49a7-ac74-f2e72ada794b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7aef0183-40ac-4c62-b309-4c76a9a796dc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f2f8f7f4-f3bf-46f3-8b43-b5555a08f202</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>